config.rb
test*.csv
test/*
*.zip
policy-project/*.csv
input/*
output/*
policy-project/*
.bundle
archive/*
README.pdf
*.sublime-project
*.sublime-workspace

# contains API Key info
vcr_cassettes/
task.rb
